.proposalCard {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .cardBody {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.card {
  border: var(--proposal-card-border) !important;
}
