.proposalCard {
    margin-top: 10px;
}


@media screen and (max-width: 991px) {
    .cardBody {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.myProposalHeading {
    display: flex;
    justify-content: center;
    color: #262626;
    font-size: 40px;
    font-weight: 550;
}