.newProposal {
  display: flex;
  justify-content: center;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  /* color: #262626; */
  color: var(--font-color);
}

.draftButton button,
.saveButton button {
  font-size: 0.95rem;
}

.required:after {
  content: '*';
  color: red;
  margin-left: 2px;
}

.cardContainer {
  justify-content: center;
  margin-top: 10px;
}

.proposalCreationPage {
  width: 100%;
}

.card {
  width: 95%;
  background-color: var( --proposal-card-color) !important;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.FormCard{
  background-color: var( --proposal-card-color) !important;
  /* color: red !important; */
}

.card label,
.form label {
  font-style: normal;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 17px;
  color: var(--font-color);

  display: flex;
  align-items: center;
}

.card input,
.card select {
  font-size: 0.86rem;

}

@media (min-width: 992px) {
  .inputSameLine {
    padding-left: 0px !important;
  }

  .labelSameLine {
    padding-left: 0px !important;
  }
}

.cardContainer .form-group.row {
  display: flex;
  align-items: center;
}

.cardContainer label {
  padding-right: 0px;
}

.card label:nth-child(2) {
  color: red !important;
}

.card > form > div {
  align-items: center;
}

.saveButton {
  justify-content: flex-end;
  display: flex;
}
/* 
@media screen and (min-width: 992px) {
  .maxWidthLabel label:first-child {
    max-width: 20%;
    min-width: 20%;
  }

  .maxWidthLabelPTR label:first-child {
    max-width: 19%;
    min-width: 19%;
  }
} */

.fakeInput {
  position: absolute;
  top: 0;
  height: 100%;
  left: 15px;
  z-index: -1000;
}

