.cardBody{
    padding: 10px;
}

.proposalCard{
    margin-top: 16px;
}

.platformStats{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: x-large;
    height: 120px;
}