@import '../../Theme/variables.css';
.proposalCard {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .cardBody {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.cardBody {
  background-color: var(--proposal-card-color);
  color: var(--proposal-text-color);
}

.myProposalHeading {
  display: flex;
  justify-content: center;
  color: #262626;
  font-size: 40px;
  font-weight: 550;
}

.card {
  border: var(--proposal-card-border) !important;
}
