.proposalContainer {
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

.proposalInfo {
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 15px;
  color: var(--proposal-text-color);
}

.proposalInfo2 {
  font-size: 0.85rem;
}

.budget {
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 15px;
  color: var(--proposal-text-color);
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  align-items: center;
  display: flex !important;
  font-size: 16px !important;
}

@media screen and (min-width: 500px) {
  .proposalContainer {
    margin-bottom: 10px;
  }

  .info {
    margin-top: 5px;
  }
}

@media screen and (min-width: 780px) {
  .badge {
    font-size: 16px !important;
  }

  .proposalContainer {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .info {
    margin-top: 5px;
  }

  .proposalInfo2 {
    margin-left: 15px !important;
  }
}

@media screen and (min-width: 500px) {
  .budget {
    margin-left: 15px;
  }
}
