.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--table-background-color);
  border-color: var(--table-border-color) !important;
}

.tableHeader {
  background: #27aab9 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.key {
  font-style: normal;
  font-weight: 600;
  font-size: 0.65rem;
  line-height: 15px;
  color: var(--proposal-text-color);
}

.value {
  font-style: normal;
  font-weight: normal;
  font-size: 0.65rem;
  line-height: 15px;
  text-align: right;
  color: var(--proposal-text-color);
}
