.inputGroup {
    max-width: 200px !important;
    flex-grow:1 ;
    font-weight: 300;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: rgba(38, 38, 38, 0.3);
    margin-left: auto;

    input {
        font-size: 0.85rem;

    }
}

.inputGroupAppend {
    font-size: 20px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .inputGroup {
        min-width: 220px;
    }

    .inputGroupAppend {
        margin-left: 5px !important;
    }
}