
.heading {
    color: #262626;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
}

.headerContainer {
    display: flex;
    justify-content: center;
    position: relative;
    /* align-items: center; */

}

.account {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.address {
    font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #1AAABA;
cursor: pointer;
margin-right: 5px;
}


@media screen and (max-width: 1200px) {
    .heading {
        margin-top: 35px;
    }

}

@media screen and (max-width: 450px) {
    .heading {
        margin-top: 110px;
    }

    .account {
        flex-wrap: wrap;
        align-items: center;
    }

    .account > * {
        flex-basis: 100%;
        margin-top: 5px;
    }

    .address {
        text-align: center;
    }

}

@media screen and (max-width: 767px) {
    .headerContainer {
        margin-top: -30px;
    }
}


@media screen and (max-width: 767px) {
    .account {
        display: none !important;
    }

    .headerComp1 > * {
        margin-top: 5px
    }

}

@media screen and (min-width: 768px) {

    .headerComp1 {
        display: none;
    }
}