.infoCardContainer {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.myProposalHeading {
    display: flex;
    justify-content: center;
    color: #262626;
    font-size: 30px;
    font-weight: 550;
    margin-top: 10px;
}