.infoCardContainer {
  padding-left: 7px !important;
  padding-right: 7px !important;
  // height: 50px;
}

.myProposalHeading {
  display: flex;
  justify-content: center;
  color: #262626;
  font-size: 30px;
  font-weight: 550;
  margin-top: 10px;
}

.period {
  text-align: center;
  color: #262626;
  font-weight: 600;
  font-size: 1.15rem;
}
